@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

*{
  font-family: sans-serif;
}

@layer components {
  .btn-blue {
    @apply bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded;
  }

  .link {
    @apply flex items-center gap-2 p-2 dark:text-white dark:hover:bg-white/10 dark:hover:text-white hover:bg-red-100 rounded-md hover:text-[#ff0012];
  }

  .active{
    @apply flex items-center gap-2 p-2 bg-red-100 rounded-md dark:bg-white/15 dark:text-white text-[#ff0012];
  }

}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: #ed0a0a;
  animation: l15 1s infinite linear;
}
.loader::before,
.loader::after {    
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}
.loader::after {
  margin: 8px;
  animation-duration: 3s;
}
@keyframes l15{ 
  100%{transform: rotate(1turn)}
}